<p id="notice"><% notice %></p>

<%=form_tag(items_path, :method=> "get", id: "search-form") do %>
 <%= text_field_tag :search, params[:search], placeholder: "Search Items " %>
 <%= submit_tag "Search" %>
  <% end %>
</br>
<h1>Catalog</h1></br>
<table class="catalog">
    <% @items.each do |item| %>
    <tr>
        <td>
            <div class="image">
                <%= link_to (image_tag item.image_url, :style =>"height:100px") ,item %>    
            </div>    
        </td>
        <td>
            <div class="title">
            <h4>Type</h4>
                <%= link_to item.title ,item %>    
            </div> 
           
            <div class="description">
             <h4>Description</h4>
                <%= link_to item.description ,item %>    
            </div>       
            <div class="price">
             <h4>Price</h4>
                <%= link_to item.price ,item %>    
            </div>
                <div class="season">
             <h4>Season</h4>
                <%= link_to item.brand ,item %>    
            </div>
            <br>
            <div class="links">
                <% if session[:login] == 1 %>
                    <%= link_to 'Edit', edit_item_path(item) %>
                    <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>                
                                   
                <% else %>                
                    <a href="/cart/<%= item.id %>">Add To Cart</a><br><br>
                <% end %>
            </div>
        </td>
        
    
    </tr>
    <% end %>

</table>
<% if session[:login] == 1 %>
    <p><%= link_to 'New Item', new_item_path %></p>
<% end %>



